---
import Layout from '../layouts/main.astro';
const posts = await Astro.glob('./docs/*.md');
---
<Layout>
  {posts.map((post) => (
    <a href={post.url}><h1>{post.frontmatter.title}</h1></a>
  ))}
</Layout>
